<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Monitoring System</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Custom JS -->
    <script src="/js/index.js"></script>
</head>

<body>
<div id="main" role="main">
    <div class='topDiv'>
        <div id='defaultMain' class='float-l' style="width: 100%;">
            <div class="float-r" style="margin-right: 2%;">
                <span id='defaultText'> Monitoring System</span>
            </div>
        </div>
    </div>

    <div class='div-card'>
        <p class='keyTitle'>
            <span class='mon-type-Text'>URL</span>
            <input id='createUrlBtn' class='btn btn-success default-btn float-r' type="button" value="등록"/>
        </p>


        <div class='mon-table'>
            <table class="table table-striped table-hover dataTable no-footer table-custom" role="grid"
                   aria-describedby="">
                <thead>
                <tr style="height:32px;">
                    <th class="text-align-center" style="width:33px">Seq</th>
                    <th class="text-align-center" style="width:100px">Title</th>
                    <th class="text-align-center" style="width:100px">URL</th>
                    <th class="text-align-center" style="width:70px">Execute</th>
                    <th class="text-align-center" style="width:70px">Edit</th>
                </tr>
                </thead>
                <tbody class="monList">
                <tr th:each="result: ${urlList}">
                    <td th:text="${result.seq}"></td>
                    <td th:text="${result.title}"></td>
                    <td th:if="${#strings.length(result.url) > 20}" th:text="${#strings.substring(result.url, 0, 20)} + '...'"></td>
                    <td th:if="${#strings.length(result.url) <= 20}" th:text="${result.url}"></td>
                    <td>
                        <input th:attr="cd=${result.seq}" class='btn btn-success urlExecuteBtn default-btn' type="button" value="실행"/>
                    </td>
                    <td>
                        <input th:attr="cd=${result.seq}" class='btn btn-success urlEditBtn default-btn' type="button" value="수정"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class='div-card'>
        <p class='keyTitle'>
            <span class='mon-type-Text'>API</span>
            <input id='createApiBtn' class='btn btn-success default-btn float-r' type="button" value="등록"/>
        </p>

        <div class='mon-table'>
            <table class="table table-striped table-hover dataTable no-footer table-custom" role="grid"
                   aria-describedby="">
                <thead>
                <tr style="height:32px;">
                    <th class="text-align-center" style="width:33px">Seq</th>
                    <th class="text-align-center" style="width:100px">Title</th>
                    <th class="text-align-center" style="width:100px">URL</th>
                    <th class="text-align-center" style="width:70px">Execute</th>
                    <th class="text-align-center" style="width:70px">Edit</th>
                </tr>
                </thead>
                <tbody class="monList">
                <tr th:each="result: ${apiList}">
                    <td th:text="${result.seq}"></td>
                    <td th:text="${result.title}"></td>
                    <td th:if="${#strings.length(result.url) > 20}"
                        th:text="${#strings.substring(result.url, 0, 20)} + '...'"></td>
                    <td th:if="${#strings.length(result.url) <= 20}" th:text="${result.url}"></td>
                    <td>
                        <input th:attr="cd=${result.seq}" class='btn btn-success apiExecuteBtn default-btn' type="button"
                               value="실행"/>
                    </td>
                    <td>
                        <input th:attr="cd=${result.seq}" class='btn btn-success apiEditBtn default-btn' type="button"
                               value="수정"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class='div-card'>
        <p class='keyTitle'>
            <span class='mon-type-Text'>ACT</span>
            <input id='createActBtn' class='btn btn-success default-btn float-r' type="button" value="등록"/>
        </p>

        <div class='mon-table'>
            <table class="table table-striped table-hover dataTable no-footer table-custom" role="grid"
                   aria-describedby="">
                <thead>
                <tr style="height:32px;">
                    <th class="text-align-center" style="width:33px">Seq</th>
                    <th class="text-align-center" style="width:100px">Title</th>
                    <th class="text-align-center" style="width:70px">Execute</th>
                    <th class="text-align-center" style="width:70px">Edit</th>
                </tr>
                </thead>
                <tbody class="monList">
                <tr th:each="result: ${actList}">
                    <td th:text="${result.seq}"></td>
                    <td th:text="${result.title}"></td>
                    <td>
                        <input th:attr="cd=${result.seq}" class='btn btn-success actExecuteBtn default-btn'
                               type="button" value="실행"/>
                    </td>
                    <td>
                        <input th:attr="cd=${result.seq}" class='btn btn-success actEditBtn default-btn'
                               type="button" value="수정"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<!-- URL 등록 모달 -->
<div class="modal fade" id="saveUrlModal" aria-hidden="true">
    <div class="modal-dialog resource-kanban-box" role="document" style="width:96%; max-width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">URL</h5>
                <button type="button" class="close btn btn-default" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/url" id="saveUrlForm" name="saveUrlForm">
                    <div class="card" style="width: 100%;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="hidden" name="seq" value="">
                                <label>사용 여부</label>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="monitoringUseYn" id="monitoringUseYn_on" value="Y" checked>
                                    <label class="form-check-label" for="monitoringUseYn_on">
                                        사용
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="monitoringUseYn" id="monitoringUseYn_off" value="N">
                                    <label class="form-check-label" for="monitoringUseYn_off">
                                        미사용
                                    </label>
                                </div>
                                <br>
                                <label>Title</label>
                                <input name="title" type="text" class='form-control' autocomplete="off"/>

                                <label>URL</label>
                                <input name="url" type="text" class='form-control' autocomplete="off"/>
                                <div class="row">
                                    <div class="col">
                                        <label>Timeout</label>
                                        <input name="timeout" type="number" class='form-control' value="30"/>
                                    </div>
                                </div>

                                <input id='urlCheck' class='btn btn-success' type="button" value="검사"/>
                            </li>

                            <li class="list-group-item">
                                <label>로딩 시간 검사</label>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="url_loadTimeCheckYn" id="url_loadTimeCheckYn_on" value="Y" checked>
                                    <label class="form-check-label" for="url_loadTimeCheckYn_on">
                                        사용
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="url_loadTimeCheckYn" id="url_loadTimeCheckYn_off" value="N">
                                    <label class="form-check-label" for="url_loadTimeCheckYn_off">
                                        미사용
                                    </label>
                                </div>
                                <br>
                                <label>LoadTime</label>
                                <div class="input-group">
                                    <input name="loadTime" type="text" class='form-control' readOnly autocomplete="off" value="0"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Ms</span>
                                        <input type="number" name="errLoadTime" value="3000" class="form-control" style="width: 100px;">
                                        <span class="input-group-text">Ms</span>
                                    </div>
                                </div>

                                <label>Status</label>
                                <input name="status" type="text" class='form-control' value="200"/>
                                <div class="mgt15 text-right resource-btz">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                    <button type="button" id="deleteUrl" class="btn btn btn-success">삭제</button>
                                    <button type="button" id="saveUrl" class="btn btn btn-success">저장</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        monInit();
    });
</script>
</html>

