<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">

	<title>Monitoring System</title>

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/index.css">

	<!-- Custom JS -->
	<script src="/js/index.js"></script>
	
</head>


<body> 
 	
	<div id="main" role="main">
		
		<div class='topDiv'>
			<div id='loginSuccessDiv'  class='float-r' >
				<p style='padding-top: 8px;'>
					<span class='loginDivText'>
						<span id='loginId'>사용자</span>님 환영합니다.
					</span>
				</p>
			</div>
		</div>
		
		<div id='bodyDiv'>
			
		</div>
		
	</div>
		
	<!-- 에러 코드 출력 -->
	<div style="display:none;">
		<form method="POST" id="errorCreate">
			<input type="hidden" name="errorCode" id="errorCode" value="" >
		</form>
	</div>
</body>
<script>
$(document).ready(function() {

	
});
</script>
</html>

